/*=========================FONTS START=============================*/
  /*=========================FONTS END=============================*/

  /*=========================CSS RESET START=============================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=========================CSS RESET END=============================*/

/*=========================COMMON STYLES START=============================*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
}
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-family: serif;
  background-color: #000;
}
a,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
}
a{
  padding: 5px;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  background-color: #FCFCFC;
  padding: 30px 0;
}

/*=========================COMMON STYLES END=============================*/

/*=========================PAGE STYLES START===========================*/


/*=========================HEADER START===========================*/
.header{
    padding: 20px 0;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: aliceblue;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
  color: #131A25;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 42px;
  text-shadow: 6px 0 rgba(0, 22, 255, .5), 1px 6px rgba(91, 246, 36, .5), 3px -5px rgba(328, 38, 38, .5), -7px 0 rgba(252, 255, 4, .5);
  letter-spacing: 7px;
  font-family: serif;
}
.nav{
    display: flex;
}
.nav li:nth-child(n+2){
    margin-left: 40px;
}
.nav li:hover{
    opacity: .6;
}
.nav li{
    transition: .4s;
}
/*=========================HEADER END===========================*/

/*=========================MAIN START===========================*/
h2{
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: serif;
  text-shadow: 3px 0 rgba(0, 22, 255, .5), 1px 3px rgba(91, 246, 36, .5), 3px -3px rgba(373, 43, 202, .5), -3px 0 rgba(252, 255, 4, .5);
  font-weight: 700;
  margin-bottom: 30px;
}

/*=========================HERO START===========================*/
.hero{
  background: linear-gradient(0deg, #000, transparent 30%),  url('../images/daria.jpg') no-repeat center 0 / cover;
  display: flex;
  justify-content: center;
  height: 1300px;
  width: 100%;
  padding-top: 30px;
  opacity: .8;
}
.hero-container{
  background-color: transparent;
}
.content{
  z-index: 99;
  padding: 200px 0 25px 120px;
}
.hero-content-p{
    max-width: 500px;
    font-size: 21px;
}
h1{
  font-size: 80px;
  font-weight: 600;
  text-shadow: 6px 0 rgba(0, 22, 255, .5), 1px 6px rgba(91, 246, 36, .5), 3px -5px rgba(328, 38, 38, .5), -7px 0 rgba(252, 255, 4, .5);
  font-family: serif;
  line-height: 1;
  padding-bottom: 18px;
}
.hero .sci{
  display: flex;
  align-items: center;
  transform-origin: 0 100%;
  transform: rotate(90deg) translateX(-50%);
  position: absolute;
  left: 0;
  top: 250px;
  padding: 40px 0 ;
}
.hero .sci a{
  transition: .3s;
  font-size: 18px;
}
.hero .sci li:nth-child(n+2){
  transform: rotate(-90deg);
}
/*=========================HERO END===========================*/

/*=========================CLASSES START===========================*/
.classes{
  margin-top: -450px;
  position: relative;
}
.classes-slider{
  width: 900px;
  height: 500px; /*dev*/
}
.classes-slide{
  display: flex;
  justify-content: center;
  
}
/*=========================CLASSES START===========================*/

/*=========================STYLES START===========================*/
.styles-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.style-img{
  border-radius: 999px;
}
.style{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.styles-row{
  display: flex;
}
h3{
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0;
}
/*=========================STYLES END===========================*/

/*=========================DIRECTORS START===========================*/
.directors-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.director{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;

}
.photo{
  margin: 0 80px;
  object-fit: cover;
}
h4{
  font-size: 36px;
  font-weight: 600;
  padding: 10px 0;
}
.trophy{
  color: gold;
}
/*=========================DIRECTORS END===========================*/


/*=========================MAIN END===========================*/

/*=========================FOOTER START===========================*/
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}
.sci{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.sci li{
  transition: .3s;
}
.sci li:hover{
  opacity: .6;
}
.sci li:nth-child(n+2){
  margin-left: 15px;
}
.tel a:nth-child(n+2){
  margin-left: 15px;
}
.contacts a{
  transition: .3s;
  padding: 0;
}
.contacts a:hover{
  opacity: .6;
}
/*=========================FOOTER END===========================*/
/*=========================PAGE STYLES END===========================*/


