/*=========================FONTS START=============================*/
  /*=========================FONTS END=============================*/

  /*=========================CSS RESET START=============================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=========================CSS RESET END=============================*/

/*=========================COMMON STYLES START=============================*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
}
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-family: sans-serif;
}
a,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
/*=========================COMMON STYLES END=============================*/

/*=========================PAGE STYLES START===========================*/

/*=========================HEADER START===========================*/
.header{
    padding: 20px 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
  color: #131A25;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 42px;
  text-shadow: 6px 0 rgba(0, 22, 255, .5), 1px 6px rgba(91, 246, 36, .5), 3px -5px rgba(373, 43, 202, .5), -7px 0 rgba(252, 255, 4, .5);
  letter-spacing: 7px;
  font-family: serif;
}
.nav{
    display: flex;
}
.nav li:nth-child(n+2){
    margin-left: 80px;
}
.nav li:hover{
    opacity: .6;
}
.nav li{
    transition: .4s;
}
/*=========================HEADER END===========================*/

/*=========================HERO START===========================*/
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    position: relative;
}
.content{
  max-width: 500px;
  z-index: 999;
}
.hero-content-p{
    max-width: 500px;
}
h1{
  font-size: 62px;
  font-weight: 700;
  text-shadow: 3px 0 rgba(0, 22, 255, .5), 1px 3px rgba(91, 246, 36, .5), 3px -3px rgba(373, 43, 202, .5), -3px 0 rgba(252, 255, 4, .5);
  font-family: serif;
  line-height: 1;
  padding-bottom: 25px;
}
.h1-span{
  font-size: 32px;
  font-weight: 700;
  text-shadow: none;
}
.hero-image{
  position: absolute;
  left: 650px;
}
/*=========================HERO END===========================*/

/*=========================MAIN START===========================*/
/*=========================MAIN END===========================*/

/*=========================FOOTER START===========================*/
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.sci{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  
}
.sci li:nth-child(n+2){
  margin-left: 20px;
}
.tel a:nth-child(n+2){
  margin-left: 15px;
}
/*=========================FOOTER END===========================*/
/*=========================PAGE STYLES END===========================*/